body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.title {
  position: fixed;
  top: 40%;
  left: 40%;
  height: 100px;
  width: 600px;
  padding-bottom: 20px;
  transform: translateX(-300px);
  font-weight: bold;
  color: #ff0000;
}

pre:hover {
  animation-name: colorchanger;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: none;
}

@keyframes colorchanger {
  0%, 100%{
    color: #ff0000;
  }

  12.5% {
    color: #ff9900;
  }

  25% {
    color: #ffff00;
  }

  37.5% {
    color: #00ff00;
  }

  50% {
    color: #00ffff;
  }

  62.5% {
    color: #0000ff;
  }

  75% {
    color: #aa00ff;
  }

  87.5% {
    color: #ff00ff;
  }
}

.container {
  display: flex;
  position: fixed;
  bottom: 10%;
}

p {
  font-family: telegramaraw;
  color: #00ff00;
}
.link {
  color: #00ff00;
  font-family: telegramaraw;
  text-decoration: none;
}

a:hover {
  color: #ff0000
}
